@charset 'UTF-8';

/*
    em HTML é id = em CSS #
    em HTML é class = em CSS é .
*/
body{
    background-image: linear-gradient(to bottom, lightgreen, rgb(58, 209, 58));
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(3, 192, 3);
}
h1#principal{
    text-align: center;
    background-color: rgb(29, 129, 29);
    color: white;
}
h2{
    color: rgb(7, 157, 7);
}
.basico{
    color: red;
    font-weight: bolder;
}
.intermediario{
    color:blue;
}
.avancado{
    color: rgb(238, 46, 199);
}